a {
	color: #589df6;
}

body, textarea, input[type=text] {
	color: #a9b7c6;
	background: #2b2b2b;
	border-color: #111;
	border-width: 0;
}

input[type=text] {
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	padding-bottom: 2px;
	margin-bottom: 8px;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.error {
	background: #F44336;
	color: #FFF;
	margin: 16px 0;
	padding: 8px;
	border: 1px solid #C62828;
	font-size: 14px;
}

#sql-query {
	height: 90px;
	width: 100%;
	font-size: 16px;
	font-family: monospace;
}

table {
	border: 1px solid #111;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
}

table th {
	background: #111;
	color: #cc7832;
	padding: 6px;
	text-align: left;
}

table tr {
	border-bottom: 1px solid #111;
}

table tr:nth-child(2n) {
	background: rgba(255, 255, 255, 0.1);
}

table td {
	padding: 6px 4px;
}

.field {
	border: 1px solid #111;
	padding: 4px;
}

textarea {
	border: none;
}

/* NAVIGATION*/

#nav {
	background: #3c3f41;
	display: block;
	text-align: center;
}

#nav a {
	display: inline-block;
	padding: 8px 16px;
	text-decoration: none;
}

#nav a:hover {
	background: #DDD;
}

/* END NAVIGATION*/

/* TABS */

.tab {
	padding: 20px;
	display: none;
}

/* END TABS */